<div class="row">
	<div class="col-md-6 col-md-offset-3">
	  
	  
	  <% if flash[:notice] %>
   <div class="flash">
        <%= flash[:notice] %>
      </div>
<% end %>
      <% if @book.errors.any? %>
            <h5><%= pluralize(@book.errors.count, "error") %> prohibited this product from being saved:</h5>
  <div class="alert alert-warning">
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

		<h1>Editing Book</h1>

		<%= form_with model:@book, local:true do |f| %>
  <div class="field row">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'col-xs-12 book_title' %>
  </div>

  <div class="field row">
    <%= f.label :opinion %>
    <%= f.text_area :body, class: 'col-xs-12 book_body' %>
  </div>

  <div class="actions row">
    <%= f.submit class: 'btn btn-primary col-xs-12' %>
  </div>
<% end %>

		<%= link_to "Show", book_path(@book), class: "book_#{@book.id}" %>
		<%= link_to "Back", books_path, class: "back" %>

	</div>
	<div class="col-md-3"></div>

</div>